/* FILE: frontend/src/styles/globals.css */
/* Global CSS and Tailwind setup for the entire application */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Basic button styling */
button {
  cursor: pointer;
}

/* Basic link styling */
a {
  color: inherit;
  text-decoration: none;
}
